*, *::before, *::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    min-width: 690px;
    height: 100vh;
    min-height: 340px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

header {
    order: 1;
    width: 33%;
    height: 90%;
    background-color: blue;
    
    h1 {
        text-align: center;
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
    }
    .headerForn {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    input, .btn {
        border-radius: .5rem;
        margin-top: 1rem;
        text-transform: uppercase;
        padding: .6rem 0;
        text-align: center;
    }
    input[type="submit"], .btn {
        appearance: auto;
        user-select: none;
        white-space: pre;
        align-items: flex-start;
        font-size: 2rem;
        text-decoration: none;
        font-weight: bold;
        cursor: default;
        box-sizing: border-box;
        background-color: buttonface;
        color: buttontext;
        border-width: 2px;
        border-style: outset;
        border-color: buttonborder;
        border-image: initial;
        font-family: serif;
    }
}

main {
    order: 3;
    width: 66%;
    height: 100%;
    background-color: rgb(172, 235, 172);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .row1,
        .row2,
        .row3,
        .row4,
        .row5,
        .row6 {
            background-color: gray;
            padding: 1.2rem;
            border-radius: 50%;
        }

        .redDisk {
            background-color: red;
        }
        .yellowDisk {
            background-color: yellow;
        }
    }
}

footer {
    width: 33%;
    order: 2;
    background-color: grey;
    text-align: center;
    padding: .4rem 0;
}